In [58]:
import pandas as pd

### Data pre-processing

Read data file

In [59]:
funding_data = pd.read_csv("data/funding_data.csv", sep=',', index_col=0)

Convert date column

In [60]:
def check_date_format(date_string):
    try:
        # Attempt to convert the date string to a datetime object
        pd.to_datetime(date_string, format='%d/%m/%Y')
        return True
    except ValueError:
        return False

funding_data = funding_data[funding_data['Date dd/mm/yyyy'].apply(check_date_format)]
funding_data['Date'] = pd.to_datetime(funding_data['Date dd/mm/yyyy'], format='%d/%m/%Y')
funding_data.drop('Date dd/mm/yyyy', axis=1, inplace=True)

Convert column Amount in USD into integer

In [61]:
funding_data['Amount in USD'] = funding_data['Amount in USD'].str.replace(',', '')
funding_data = funding_data[pd.notnull(funding_data['Amount in USD'])]
funding_data['Amount in USD'] = pd.to_numeric(funding_data['Amount in USD'], errors='coerce')
funding_data.head()

,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks,Date
Sr No,,,,,,,,,
1,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0,NaN,2020-01-09
2,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0,NaN,2020-01-13
3,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0,NaN,2020-01-09
4,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0,NaN,2020-01-02
5,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0,NaN,2020-01-02